@charset "UTF-8";

.menu{
    background-color: blue;
    display: flex;
}
.item{
    background-color: antiquewhite;
    flex: auto;
    justify-content: space-between;
    border: 2px solid black;
    text-align: center;
}