@charset "UTF-8";

body{
    background-color: rgb(109, 108, 108);
    padding: 0px;
    margin: 0px;
    height: 96vh;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100px;
    max-height: 500px;
}
.menu{
    display: flex;
    width: 70%;
    margin: auto;
}
.item{
    color: rgb(0, 0, 0);
    background-color: rgb(192, 223, 223);
    text-align: center;
    flex: auto;
    font-size: 30px;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.contact{
    color: rgb(31, 15, 15);
    flex: auto;
    width: 100px;
    text-align: center;
    margin: auto;
    font-size: 30px;
    background-color: cadetblue;
    border-radius: 10px;
    height: 50%;
    margin-right: 20px;
    margin-left: 10px;
}
.logo{
    flex: auto;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.aboutme{
    position:relative;
}
.title{
    position: absolute;
    top: 200px;
}
.textabout{
    position: absolute;
    top: 300px;
    font-size: 20px;
    width: 300px;
    margin-left: 30px;
}